name: Tag

on:
  workflow_dispatch

jobs:
  tag:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Bump version and push tag
        uses: hennejg/github-tag-action@v4.2.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
